{% extends "base.html" %}
{% block PageTitle %}
  {% if title %}{{ title }}{% else %}Worldlet{% endif %}
{% endblock PageTitle %}
{% block StyleSheet %}
  <style>
    .page-wrap div {
      margin: 10px;
      height: 100px;
      border: 1px solid lightblue;
    }
  </style>
{% endblock StyleSheet %}
{% block PageContent %}
  <div class="page-wrap">
    <div>{{ title }}</div>
    <div>{{ title }}</div>
    <div>{{ title }}</div>
    <div>{{ title }}</div>
    <div>{{ title }}</div>
    <div>{{ title }}</div>
    <div>{{ title }}</div>
    <div>{{ title }}</div>
    <div>{{ title }}</div>
    <div>{{ title }}</div>
    <div>{{ title }}</div>
    <div>{{ title }}</div>
    <div>{{ title }}</div>
  </div>
{% endblock PageContent %}
{% block JavaScript %}
  <script>
    layui.use('util', function () {
      let $ = layui.$,
        util = layui.util;

      util.fixbar();
    })
  </script>
{% endblock JavaScript %}