{% extends "base.html" %}
{% block PageTitle %}
  {% if title %}{{ title }}{% else %}Worldlet{% endif %}
{% endblock PageTitle %}
{% block PageContent %}
  {% load static %}
  <div class="worldlet-layout">
    <div id="worldletSide" class="worldlet-side">
      <div class="worldlet-logo layui-bg-black flex-center">Worldlet</div>
      <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll">
          <ul class="layui-nav layui-nav-tree" lay-filter="menuNav">
            <li class="layui-nav-item">
              <a href="{{ menuTree.0.path|default:'home' }}" onclick="return false;"
                 data-id="{{ menuTree.0.id }}"
                 data-options='{{ menuTree.0.data|default:'{"id": 0, "path": "home", "label": "首页"}' }}'>
                <i class="layui-icon {{ menuTree.0.icon|default:'layui-icon-home' }}"></i>
                <span>{{ menuTree.0.label|default:'首页' }}</span>
              </a>
            </li>
            {% for menu in menuTree %}
              {% if forloop.counter != 1 %}
                <li class="layui-nav-item">
                  <a onclick="return false;"
                     data-options='{{ menu.data|default:'{"path": "404", "label": "404 not found"}' }}'
                      {% if not menu.hasChildren %} href="{{ menu.path|default:'404' }}" {% endif %}
                  >
                    {% if menu.path %}
                      <i class="layui-icon {{ menu.icon|default:'layui-icon-app' }}"></i>
                    {% else %}
                      <i class="layui-icon {{ menu.icon|default:'layui-icon-file' }}"></i>
                    {% endif %}
                    <span>{{ menu.label|default:'404 not found' }}</span>
                  </a>
                  {% if menu.hasChildren and menu.children|length > 0 %}
                    <dl class="layui-nav-child">
                      {% for child in menu.children %}
                        <dd>
                          <a href="{{ child.path|default:'404' }}" onclick="return false;"
                             data-options='{{ child.data|default:'{"path": "404", "label": "404 not found"}' }}'>
                            {% if child.path %}
                              <i class="layui-icon {{ child.icon|default:'layui-icon-app' }}"></i>
                            {% else %}
                              <i class="layui-icon {{ child.icon|default:'layui-icon-file' }}"></i>
                            {% endif %}
                            <span>{{ child.label|default:'404 not found' }}</span>
                          </a>
                        </dd>
                      {% endfor %}
                    </dl>
                  {% endif %}
                </li>
              {% endif %}
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
    <div class="worldlet-main">
      <div class="layui-header layui-bg-white flex-between">
        <div class="worldlet-header-left">
          <div id="sideCollapsed" class="header-icon">
            <i class="layui-icon layui-icon-shrink-right"></i>
          </div>
        </div>
        <div class="worldlet-header-right">
          <div class="header-icon" onclick="reloadPage(this)">
            <i class="layui-icon layui-icon-refresh-3"></i>
          </div>
          <div id="userDropdown" class="user-dropdown flex-center">
            <img src="{% static '/img/user.png' %}" alt="">
            <span>{{ username }}</span>
            <i class="layui-icon layui-icon-down"></i>
          </div>
        </div>
      </div>
      <div class="worldlet-body layui-body">
        <div id="tabPage" class="layui-tab" lay-filter="tabPage" lay-allowClose="true">
          <ul class="layui-tab-title">
            <li class="layui-this" lay-id="{{ menuTree.0.path }}">
              <i class="layui-icon layui-icon-home"></i>
              <span>{{ menuTree.0.label }}</span>
            </li>
          </ul>
          <div class="layui-tab-content">
            <div class="layui-tab-item layui-show">
              <div class="layui-panel">
                <iframe src="{{ menuTree.0.path }}" height="100%" width="100%"></iframe>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock PageContent %}
{% block JavaScript %}
  <script>
    layui.use(['element', 'dropdown', 'layer', 'util'], function () {
      var $ = layui.$,
        util = layui.util,
        layer = layui.layer,
        element = layui.element,
        dropdown = layui.dropdown;

      //用户下拉菜单
      dropdown.render({
        id: 'userDropdown',
        elem: '#userDropdown',
        trigger: 'hover',
        data: [
          {title: 'menu item 1', id: 100, href: '#'},
          {title: 'menu item 2', id: 101, href: '{{d.root}}/', target: '_blank'},
        ],
        click: function (obj) {
          console.log(obj);
          layer.msg('回调返回的参数已显示再控制台');
        }
      });

      //左侧菜单
      $(".layui-nav-item").hover(function () {
        $(".layui-nav-bar").css("top", $(this).offset().top - $(this).parent().offset().top );
        $(".layui-nav-bar").css("height", "50px");
        $(".layui-nav-bar").css("opacity", 1);
      }, function () {
        $(".layui-nav-bar").css("opacity", 0);
      });
      //左侧菜单
      element.on('nav(menuNav)', function (elem) {
        let dataOptions = $(elem[0]).attr("data-options");
        let options = JSON.parse(dataOptions);
        console.log("userLog", options)
        if (!options.hasChildren) {
          if ($("#tabPage").find("li[lay-id='" + options.path + "']").length === 0) {
            let contentHtml = ''
            contentHtml += '<div class="layui-panel">'
            contentHtml += '  <iframe src="' + options.path + '" height="100%" width="100%"></iframe>'
            contentHtml += '</div>'
            element.tabAdd('tabPage', {
              id: options.path,
              title: options.label,
              content: contentHtml,
            });
          }
          element.tabChange('tabPage', options.path);
        }
      })

      //选项卡切换
      element.on('tab(tabPage)', function () {
        location.hash = 'active=' + this.getAttribute('lay-id');
      });

      //获取hash来切换选项卡，假设当前地址的hash为lay-id对应的值
      var layid = location.hash.replace(/^#active=/, '');
      element.tabChange('tabPage', layid);

      //折叠侧边栏-初始化
      if ($("#worldletSide").hasClass("collapsed")) {
        $("#sideCollapsed>i").removeClass("layui-icon-shrink-right")
        $("#sideCollapsed>i").addClass("layui-icon-spread-left")
      } else {
        $("#sideCollapsed>i").removeClass("layui-icon-spread-left")
        $("#sideCollapsed>i").addClass("layui-icon-shrink-right")
      }
      //折叠侧边栏-点击
      $("#sideCollapsed").click(function () {
        if ($("#worldletSide").hasClass("collapsed")) {
          $("#worldletSide").removeClass("collapsed")
          $("#sideCollapsed>i").removeClass("layui-icon-spread-left")
          $("#sideCollapsed>i").addClass("layui-icon-shrink-right")
        } else {
          $("#worldletSide").addClass("collapsed")
          $("#sideCollapsed>i").removeClass("layui-icon-shrink-right")
          $("#sideCollapsed>i").addClass("layui-icon-spread-left")
        }
      })
    });

    function reloadPage(obj) {
      $(obj).css("animation", "rotate360 1s ease-in-out 1");
      $($(".layui-tab-item.layui-show iframe")[0]).attr("src", $($(".layui-tab-item.layui-show iframe")[0]).attr("src"))
      setTimeout(function () {
        $(obj).css("animation", "");
      }, 1000);
    }
  </script>
{% endblock JavaScript %}