{% extends "base.html" %}
{% block PageTitle %}
  {% if title %}{{ title }}{% else %}Worldlet{% endif %}
{% endblock PageTitle %}
{% block PageContent %}
  {% load static %}
  <div class="worldlet-layout">
    <div id="worldletSide" class="worldlet-side">
      <div class="worldlet-logo layui-bg-black flex-center-y">
        <img src="{% static 'img/favicon.ico' %}" alt=""/>
        <span>Worldlet</span>
      </div>
      <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll">
          <ul class="layui-nav layui-nav-tree menu-tree" lay-filter="menuNav">
            <li class="layui-nav-item">
              <a class="menu-item" onclick="return false;"
                 href="home"
                 data-id="home"
                 data-options='{"id": 0, "path": "home", "label": "首页"}'>
                <i class="layui-icon layui-icon-home"></i>
                <span>首页</span>
              </a>
            </li>
            {% for menu in menuTree %}
              {% if menu.path != 'home' and menu.path != '/home' %}
                <li class="layui-nav-item">
                  <a class="menu-item" onclick="return false;"
                      {% if not menu.hasChildren %} href="{{ menu.path|default:'404' }}" {% endif %}
                     data-id="{{ menu.id|default:'-404' }}"
                     data-options='{{ menu.data|default:'{"path": "404", "label": "404 not found"}' }}'
                  >
                    {% if menu.path %}
                      <i class="layui-icon {{ menu.icon|default:'layui-icon-app' }}"></i>
                    {% else %}
                      <i class="layui-icon {{ menu.icon|default:'layui-icon-file' }}"></i>
                    {% endif %}
                    <span>{{ menu.label|default:'404 not found' }}</span>
                  </a>
                  {% if menu.hasChildren and menu.children|length > 0 %}
                    <dl class="layui-nav-child">
                      {% for child in menu.children %}
                        <dd>
                          <a class="menu-item" onclick="return false;"
                             href="{{ child.path|default:'404' }}"
                             data-id="{{ child.id|default:'-404' }}"
                             data-options='{{ child.data|default:'{"path": "404", "label": "404 not found"}' }}'>
                            {% if child.path %}
                              <i class="layui-icon {{ child.icon|default:'layui-icon-app' }}"></i>
                            {% else %}
                              <i class="layui-icon {{ child.icon|default:'layui-icon-file' }}"></i>
                            {% endif %}
                            <span>{{ child.label|default:'404 not found' }}</span>
                          </a>
                        </dd>
                      {% endfor %}
                    </dl>
                  {% endif %}
                </li>
              {% endif %}
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
    <div class="worldlet-main">
      <div class="layui-header layui-bg-white flex-between">
        <div class="worldlet-header-left">
          <div id="sideCollapsed" class="header-icon">
            <i class="layui-icon layui-icon-shrink-right"></i>
          </div>
        </div>
        <div class="worldlet-header-right">
          <div class="header-icon" onclick="reloadPage(this)">
            <i class="layui-icon layui-icon-refresh-3"></i>
          </div>
          <div id="userDropdown" class="user-dropdown flex-center">
            <img src="{% static '/img/user.png' %}" alt="">
            <span>{{ username }}</span>
            <i class="layui-icon layui-icon-down"></i>
          </div>
        </div>
      </div>
      <div class="worldlet-body layui-body">
        <div id="tabPage" class="layui-tab" lay-filter="tabPage" lay-allowClose="true">
          <ul class="layui-tab-title">
            <li lay-id="home">
              <i class="layui-icon layui-icon-home"></i>
              <span>首页</span>
            </li>
          </ul>
          <div class="layui-tab-content">
            <div class="layui-tab-item layui-show">
              <div class="layui-panel">
                <iframe src="home" height="100%" width="100%"></iframe>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock PageContent %}
{% block JavaScript %}
  <script>
    layui.use(['element', 'dropdown', 'layer', 'util'], function () {
      let $ = layui.$,
        util = layui.util,
        layer = layui.layer,
        element = layui.element,
        dropdown = layui.dropdown;

      let worldletSide = $("#worldletSide");

      //用户下拉菜单
      dropdown.render({
        id: 'userDropdown',
        elem: '#userDropdown',
        trigger: 'hover',
        data: [
          {title: 'menu item 1', id: 100, href: '#'},
          {title: 'menu item 2', id: 101, href: '{{d.root}}/', target: '_blank'},
        ],
        click: function (obj) {
          console.log(obj);
          layer.msg('回调返回的参数已显示再控制台');
        }
      });

      //菜单-悬浮效果
      $(".menu-item").hover(function () {
        $(".layui-nav-bar").css({
          "top": $(this).offset().top - $(this).parents("ul.menu-tree").offset().top,
          "height": "50px",
          "opacity": 1
        });
      }, function () {
        $(".layui-nav-bar").css("opacity", 0);
      });
      //菜单和选项卡初始化
      let activeTab = location.hash.replace(/^#active=/, '');
      activeTab = activeTab && activeTab !== '' ? activeTab : 'home';
      let menuItem = selectMenu(activeTab);
      selectOrAddTab(menuItem);
      //菜单点击
      element.on('nav(menuNav)', function (elem) {
        selectOrAddTab(elem);
      })
      //选项卡切换
      element.on('tab(tabPage)', function () {
        let layId = this.getAttribute('lay-id');
        location.hash = 'active=' + layId;
        selectMenu(layId)
      });

      //选中菜单
      function selectMenu(path) {
        worldletSide.find(".layui-this").removeClass("layui-this");
        let selectedMenuItem = worldletSide.find("a.menu-item[href='" + path + "']");
        if (selectedMenuItem.length > 0) {
          selectedMenuItem.parent().addClass("layui-this");
          if (selectedMenuItem.parent().is("dd")) {
            selectedMenuItem.parents("li.layui-nav-item").addClass("layui-nav-itemed");
          }
        }
        return selectedMenuItem.get(0)
      }

      //选中或新增选项卡
      function selectOrAddTab(menuElem) {
        let dataOptions = $(menuElem).attr("data-options");
        let options = JSON.parse(dataOptions);
        if (!options.hasChildren) {
          if ($("#tabPage").find("li[lay-id='" + options.path + "']").length === 0) {
            let contentHtml = ''
            contentHtml += '<div class="layui-panel">'
            contentHtml += '  <iframe src="' + options.path + '" height="100%" width="100%"></iframe>'
            contentHtml += '</div>'
            element.tabAdd('tabPage', {
              id: options.path,
              title: options.label,
              content: contentHtml,
            });
          }
          element.tabChange('tabPage', options.path);
        }
      }


      //折叠侧边栏-初始化
      if (worldletSide.hasClass("collapsed")) {
        collapsedIcon('spread')
      } else {
        collapsedIcon('shrink')
      }
      //折叠侧边栏-点击
      $("#sideCollapsed").click(function () {
        if (worldletSide.hasClass("collapsed")) {
          worldletSide.removeClass("collapsed")
          collapsedIcon('shrink')
        } else {
          worldletSide.addClass("collapsed")
          collapsedIcon('spread')
        }
      })

      //折叠侧边栏-按钮
      function collapsedIcon(flag) {
        let sideCollapsedIcon = $("#sideCollapsed>i");
        if (flag === 'shrink') {
          sideCollapsedIcon.removeClass("layui-icon-spread-left")
          sideCollapsedIcon.addClass("layui-icon-shrink-right")
        } else if (flag === 'spread') {
          sideCollapsedIcon.removeClass("layui-icon-shrink-right")
          sideCollapsedIcon.addClass("layui-icon-spread-left")
        }
      }
    });

    function addTab(title, path) {
      layui.use('element', function () {
        let element = layui.element;
        let worldletSide = $("#worldletSide");
        worldletSide.find(".layui-this").removeClass("layui-this");
        let selectedMenuItem = worldletSide.find("a.menu-item[href='" + path + "']");
        if (selectedMenuItem.length > 0) {
          selectedMenuItem.parent().addClass("layui-this");
          if (selectedMenuItem.parent().is("dd")) {
            selectedMenuItem.parents("li.layui-nav-item").addClass("layui-nav-itemed");
          }
        }
        if ($("#tabPage").find("li[lay-id='" + path + "']").length === 0) {
          let contentHtml = ''
          contentHtml += '<div class="layui-panel">'
          contentHtml += '  <iframe src="' + path + '" height="100%" width="100%"></iframe>'
          contentHtml += '</div>'
          element.tabAdd('tabPage', {
            id: path,
            title: title,
            content: contentHtml,
          });
        }
        element.tabChange('tabPage', path);
      })
    }

    function reloadPage(obj) {
      $(obj).css("animation", "rotate360 1s ease-in-out 1");
      let iframeShow = $(".layui-tab-item.layui-show iframe").get(0);
      $(iframeShow).attr("src", $(iframeShow).attr("src"))
      setTimeout(function () {
        $(obj).css("animation", "");
      }, 1000);
    }
  </script>
{% endblock JavaScript %}